<div class="row mt-4">
  <div class="col-md-6 blog-post">
    <h2>Create a New Post</h2>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="blog-title">Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title">        
      </div>
      <div class="form-group">
        <label for="blog-content">Content:</label>
        <textarea class="form-input" type="number" id="blog-content" name="project-funding"></textarea>
      </div>
      <select class="form-select" aria-label="Default select example" id="category">
        <option selected>Select Category</option>
        <option value="Tech">Tech</option>
        <option value="Opinion">Opinion</option>
        <option value="Review">Review</option>
        <option value="News">News</option>
      </select>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{!-- {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="./js/profile.js"></script>
