/* Color Theme Swatches in Hex */
.Remotips-1-hex { color: #D93636; }
.Remotips-2-hex { color: #A62E2E; }
.Remotips-3-hex { color: #732424; }
.Remotips-4-hex { color: #262626; }
.Remotips-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Remotips-1-rgba { color: rgba(216, 54, 54, 1); }
.Remotips-2-rgba { color: rgba(165, 46, 46, 1); }
.Remotips-3-rgba { color: rgba(114, 35, 35, 1); }
.Remotips-4-rgba { color: rgba(38, 38, 38, 1); }
.Remotips-5-rgba { color: rgba(12, 12, 12, 1); }

header {
  background: linear-gradient(90deg, rgba(166,46,46,1) 0%, rgba(217,54,54,1) 50%, rgba(166,46,46,1) 100%);
  border-bottom: #262626 solid 8px;
  margin-bottom: 3%;
}

body {
  background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(13,13,13,1) 50%);}

#theAttic {
  font-family: 'Aboreto', sans-serif;
  font-size: 3rem;
  color: #0D0D0D;
  text-shadow: 
    1px 1px 2px #D93636, 
    0 0 1em #D93636, 
    0 0 0.2em #0D0D0D;
}

.blog-post {
  display: flex;
  align-items: center;
  margin: auto;
  width: 75%;
  color: #c0c0c0;
  border: #262626 solid 5px;
  background-color: #000;
}

.blog-post h2 {
  font-family: 'Aboreto', sans-serif;
}

.blog-post a {
  color: #a0a0a0;
  text-shadow: 
  1px 1px 2px #D93636;
}

.nav-link {
  font-family: 'Aboreto', sans-serif;
  font-size: 1.2rem;
  color: #0D0D0D;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #eeeeee;
  text-decoration: underline;
}


